*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content:end;
    align-items:center;
}
header .container{
    text-align: right;
    max-width: 500px;
    padding-right: 230px;
}
header .container .main h1{
    font-size: 65px;
    font-weight: bold;
}
header .container .main p{
    margin-top: 24px;
    line-height: 24px;
}
header .container .main button{
    margin-top: 32px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
