*{
    margin: 0px;
    padding: 0px;
    font-family: "Work Sans", sans-serif;
}
header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content:end;
    align-items:center;
}
header .container{
    text-align: right;
    max-width: 500px;
    padding-right: 230px;
}
header .container .main h1{
    font-size: 65px;
    font-weight: bold;
}
header .container .main p{
    margin-top: 24px;
    line-height: 24px;
    color: #444343;
}
.hd-btn{
    margin-top: 32px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* header end  */

/* main content start  */
/* failure */
main{
    padding: 130px 230px;
}
.past-year{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}
.past-year .content h1{
    font-size: 40px;
}
.past-year .content .about-cont{
    color: #444343;
    margin-top: 24px;
    line-height: 25px;
}
.past-year .content .list{
    margin-top: 16px;
}
.past-year .content .list p{
    margin-top: 8px;
}
.past-year .content .list i{
    color: #16D887;
}
/* plans  */
.plans{
    padding-top: 130px;
}
.plans .plan-heading{
    text-align: center;
    font-size: 40px;
}
.plans .card{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card-category h1{
    font-size: 30px;   
    margin-top: 24px;
}
.card-category p{
    color: #444343;
    margin-top: 16px;
}

/* call section  */
.feedback{
    margin-top: 130px;
    /* background-image: url(images/watch.png), url(images/gradient2.png); */
     background-image:
    linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/watch.png'),
    url('images/gradient2.png');
    background-position: 100%;
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.feedback .call-us{
    padding: 59px 64px;
}
.feedback .call-us h1{
    font-size: 40px;
    color: white;
    max-width: 80%;
}
.call-btn{
    margin-top: 32px;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* main content end  */
/* footer  */
footer{
    background-color: black;
    padding: 130px 230px;
    color: white;
}
.footer-content{
    display: flex;
    gap: 200px;
}
.left-side p, .social-logo{
    margin-top: 25px;
}
.right-side input, button{
    margin-top: 25px;
}
.right-side input{
    padding: 15px 25px;
    background-color: black;
    color: white;
    border: 1px sold #ff0000;
}
.right-side button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}